{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Join Room | GateMeet</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>

<body>
    <div class="container">
        <div class="login form">
            <header style="font-weight: bold;">Join Room</header>
            <form action="{% url 'join' %}" method="POST">
                {% csrf_token %}
                <div style="text-align: center;">
                    <input type="text" placeholder="Enter room ID" name="roomID" required>
                </div>
                <div style="text-align: center; margin-top: 10px;">
                    <input type="submit" class="button" value="Join">
                </div>
            </form>
            <center>
                {% if success %}
                <p style="color: green;"><b>{{ success }}</b></p>
                {% endif %}
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
            </center>
        </div>
    </div>
</body>

</html>
