<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | GateMeet</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style1.css">
</head>
<body>
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>GateMeet</h1>
                <p>"Hop On GateMeet!! Share Your Pleasure With Others"</p>
            </div>
        </div>
        <div class="right">
            <h5>Login</h5>
            <p>Don't have a GateMeet account? <a href="{% url 'register' %}">Create An Account</a> with us.</p>
            <form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
                {% csrf_token %}
                <div class="inputs">
                    <input type="text" placeholder="email" name="username" required>
                    <br>
                    <input type="password" placeholder="password" name="password" required>
                </div>
                <br>
                <button class="white-button" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
